<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>servlets.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobController</servlet-name>
        <servlet-class>servlets.JobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSkillsController</servlet-name>
        <servlet-class>servlets.EmployeeSkillsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobCommentsController</servlet-name>
        <servlet-class>servlets.JobCommentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>servlets.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/JobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSkillsController</servlet-name>
        <url-pattern>/EmployeeSkillsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobCommentsController</servlet-name>
        <url-pattern>/JobCommentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Dashboard.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>servlets.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamController</servlet-name>
        <servlet-class>servlets.TeamController</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>servlets.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/TaskController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/TeamController</url-pattern>
    </servlet-mapping>
</web-app>
